.hero,
.hero2 {
    width: 100%;
    background-size: cover;
    background-position: bottom;
}
.hero {
    height: 100vh;
    max-height: 800px;
    background-image: url("../../assets//hero-img.png");
}
.hero2 {
    height: 80vh;
    max-height: 500px;
    background-image: url("../../assets/bg.png");
    color: #fff;
}
.hero-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero-content h1 {
    font-size: var(--fz-xxl);
    font-weight: var(--fw-normal);
    line-height: 1.2;
}
.hero-content h1 span {
    color: var(--clr-primary);
    text-transform: uppercase;
    font-weight: var(--fw-extra-bold);
}
.hero-content p {
    opacity: 0.85;
    margin: 2rem 0;
}
