.product-card {
    margin: 1rem;
}
.product-card-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--clr-grey);
}

.product-card-img > span {
    position: absolute;
    left: 7.5px;
    top: 7.5px;
    padding: 0.5em;
    background-color: var(--clr-secondary);
    color: var(--clr-secondary-light);
    text-transform: capitalize;
    font-size: var(--fz-xs);
}
.product-card-img > span > svg {
    margin-bottom: -0.1rem;
    margin-right: 0.35rem;
    fill: white;
}
.product-card-content .product-card-infos > p:first-child {
    text-transform: capitalize;
    margin: 0.5rem 0 0.25rem;
    /*  could change  */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    height: 1.5em;
    white-space: nowrap;
}
.product-card-content .product-card-infos > p:last-child {
    font-weight: var(--fw-bold);
}
.product-card-content .product-card-add {
    width: 35px;
    height: 35px;
    font-size: var(--fz-l);
    font-weight: 300;
    background-color: var(--clr-primary-light);
    color: #fff;
    cursor: pointer;
}
.product-card-content .product-card-add:hover {
    background-color: var(--clr-primary);
}
