.product-card {
    margin: 1rem;
    position: relative;
}
.product-card-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--clr-grey);
}

.product-card-img > span {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 0.5em;
    background-color: var(--clr-secondary);
    color: var(--clr-secondary-light);
    text-transform: capitalize;
    font-size: var(--fz-xs);
}
.product-card-img > span > svg {
    margin-bottom: -0.1rem;
    margin-right: 0.35rem;
    fill: white;
}
.product-card > svg {
    position: absolute;
    z-index: 250;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 2rem;
    background-color: #fff;
    fill: hsl(0, 0%, 30%);
    padding: 0.25em;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms ease;
}
.product-card > svg:hover {
    padding: 0.2em;
    transition: 200ms ease;
}
.product-card > .active-favorite {
    background-color: hsl(4, 88%, 48%);
    fill: hsl(4, 88%, 92%);
}
.product-card-content .product-card-infos > p:first-child {
    text-transform: capitalize;
    margin: 0.5rem 0 0.25rem;
    /*  could change  */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    height: 1.5em;
    white-space: nowrap;
}
.product-card-content .product-card-infos > p:last-child {
    font-weight: var(--fw-bold);
}
.product-card-content .product-card-add {
    width: 35px;
    height: 35px;
    font-size: var(--fz-l);
    font-weight: 300;
    background-color: var(--clr-primary-light);
    color: #fff;
    cursor: pointer;
}
.product-card-content .product-card-add:hover {
    background-color: var(--clr-primary);
}
