header {
    position: sticky;
    top: 0;
    width: 100%;
    transition: 200ms ease;
    z-index: 100;
    height: 70px;
}
header.scrolled {
    background-color: #fff !important;
    transition: 200ms cubic-bezier(1, 0, 0, 1);
    box-shadow: 0 -12px 15px 6px rgba(0, 0, 0, 0.2);
}
header.home-position {
    position: fixed !important;
}
.navbar {
    position: relative;
}
.navbar nav ul {
    list-style: none;
}
.navbar nav ul li + li {
    margin-left: 1.5rem;
}
.navbar nav ul li {
    font-weight: var(--fw-normal);
    cursor: pointer;
    text-transform: uppercase;
}
.navbar nav ul li a {
    text-decoration: none;
    color: var(--clr-text);
}
.navbar nav ul li a.active {
    color: var(--clr-primary);
    position: relative;
}
.navbar nav ul li a.active::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 4px;
    background-color: var(--clr-primary);
}
.navbar .logo > a {
    color: var(--clr-text);
    text-decoration: none;
}
.navbar .logo {
    font-size: var(--fz-xl);
    font-weight: 300;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    cursor: pointer;
}
.navbar .nav-cta {
    font-size: 1.3125rem;
}
.navbar .nav-cta > * + * {
    margin-left: 1rem;
}
.navbar .nav-cta svg {
    cursor: pointer;
}
.navbar .nav-cta > div {
    position: relative;
    cursor: pointer;
}
.navbar .nav-cta > div > span {
    position: absolute;
    right: -5px;
    top: -8px;
    font-size: 0.5em;
    background-color: var(--clr-primary);
    padding: 0.15em 0.25em;
    border-radius: 100px;
    color: #fff;
    z-index: 500;
    user-select: none;
}
.search-input {
    padding: 0.5em;
    width: 0px;
    opacity: 0;
    border: 1px solid var(--clr-grey);
    border-radius: 0;
    outline: none;
    animation: expand-search-bar 200ms ease forwards;
}
.search-input:focus {
    border: 1px solid var(--clr-primary);
}

@keyframes expand-search-bar {
    to {
        display: block;
        width: 200px;
        opacity: 0.75;
        transition: 0.15s ease-out;
    }
}
