.product-item {
    padding: 0.5rem;
    background-color: #fff;
    position: relative;
}
.product-item > div > p:first-of-type {
    font-weight: var(--fw-normal);
    text-transform: capitalize;
}
.item--primary-infos {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.procuts-item--right {
    position: absolute;
    right: 1rem;
}
.primary-infos-img {
    height: 80px;
    width: auto;
}
.primary-infos-img img {
    height: 100%;
    width: auto;
}
.item--primary-infos > p {
    margin-left: 1rem;
}
.product-quantity {
    margin: 0 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.product-quantity input {
    margin: 0 0.75em;
    width: 30px;
    border: 1px solid var(--clr-grey);
    text-align: center;
    outline: none;
}
.product-quantity > div {
    background-color: var(--clr-light-grey);
    cursor: pointer;
    padding: 0 0.35em;
}
.product-quantity > div:hover {
    background-color: var(--clr-grey);
}
.product-item svg {
    cursor: pointer;
    margin-left: 1rem;
}
